body {
    margin-top: 20px;
    text-align: center;
}

.game {
    display: inline-block;
}

.score-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.score-block > div {
    text-align: left;
}

.restart {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background: #10a518;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.restart:hover {
    background: #1c8411;
}
