body {
    margin-top: 20px;
    text-align: center;
}

.game {
    display: inline-block;
}

.score-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}